Change point
1. Introduce Model Tuning
<br>
<h2>Accuracy : 0.78468</h2>

In [2]:
import numpy as np
import pandas as pd

train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submission = pd.read_csv('./data/gender_submission.csv')

In [6]:
train_x = train.drop(['Survived'],axis=1)
train_y = train['Survived']

In [9]:
maindata = pd.concat([train_x,test],sort=False)

In [10]:
maindata.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
maindata.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

In [19]:
maindata['Embarked'].fillna('S',inplace=True)

In [21]:
maindata['Embarked'].value_counts()

S    916
C    270
Q    123
Name: Embarked, dtype: int64

In [22]:
maindata.replace(['S','C','Q'],[0,1,2],inplace=True)

In [24]:
maindata.replace(['male','female'],[0,1],inplace=True)

In [25]:
maindata.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    0  22.0      1      0   7.2500         0
1            2       1    1  38.0      1      0  71.2833         1
2            3       3    1  26.0      0      0   7.9250         0
3            4       1    1  35.0      1      0  53.1000         0
4            5       3    0  35.0      0      0   8.0500         0

In [26]:
train_x = maindata[:len(train)]
test_x = maindata[len(train):]

In [31]:
import itertools

In [32]:
param_space = {
    'max_depth':[3,5,7],
    'min_child_weight':[1.0,2.0,4.0]
}

In [33]:
#Combine each params and save score to it.
param_combinations = itertools.product(param_space['max_depth'],param_space['min_child_weight'])
params = []
scores = []

In [36]:
from sklearn.metrics import log_loss,accuracy_score
from sklearn.model_selection import KFold
from xgboost import XGBClassifier

In [37]:
for max_depth,min_child_weight in param_combinations:
    score_folds = []
    kf = KFold(n_splits=4,shuffle=True,random_state=123456)
    
    for tr_idx,va_idx in kf.split(train_x):
        #iloc can select row and column(0~).
        tr_x ,va_x = train_x.iloc[tr_idx],train_x.iloc[va_idx]
        tr_y ,va_y = train_y.iloc[tr_idx],train_y.iloc[va_idx]

        model = XGBClassifier(n_estimators=20,random_state=71,max_depth=max_depth,min_child_weight=min_child_weight)
        model.fit(tr_x,tr_y)

        va_pred = model.predict_proba(va_x)[:,1]
        logloss = log_loss(va_y,va_pred)
        score_folds.append(logloss)
        
    score_mean = np.mean(score_folds)
    
    params.append((max_depth,min_child_weight))
    scores.append(score_mean)

In [38]:
best_idx = np.argsort(scores)[0]
best_param = params[best_idx]

In [41]:
#Best Score
print(f'max_depth:{best_param[0]},min_child_weight:{best_param[1]}')

max_depth:3,min_child_weight:4.0

In [42]:
pred = model.predict_proba(test_x)[:,1]
pred_label = np.where(pred>0.5,1,0)
pred_label[:20]

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0])

In [43]:
submission = pd.DataFrame({'PassengerId':test['PassengerId'],'Survived':pred_label})

In [44]:
submission.to_csv('submission20201105.csv',index=False)